<div class="container">
  <header>
    <h3>
      <mat-icon style="vertical-align: bottom;">account_circle</mat-icon> {{ title }}
    </h3>
  </header>
  <br />

  <div class="navbar">
    <button mat-button (click)="changeDisplayMode(displayModeEnum.Card)" [color]="displayMode === displayModeEnum.Card?'primary':'basic'">
      <mat-icon>view_module</mat-icon> Card View
    </button>
    <button mat-button (click)="changeDisplayMode(displayModeEnum.Grid)" [color]="displayMode === displayModeEnum.Grid?'primary':'basic'">
      <mat-icon>reorder</mat-icon> List View
    </button>
    <button mat-button>
      <!--<a routerLink="/customers/0/edit">
        <mat-icon aria-hidden="false" aria-label="Example home icon">note_add</mat-icon> New Customer
      </a>-->
      <mat-icon>note_add</mat-icon> New Customer
    </button>
  </div>

  <app-customers-card [customers]="customers"
                      [hidden]="displayMode !== displayModeEnum.Card"></app-customers-card>

  <app-customers-grid [customers]="customers "
                      [hidden]="displayMode !== displayModeEnum.Grid">
  </app-customers-grid>
</div>


